html {
	min-height: 100vh;
	background-image: url("../images/avatarState.png");	
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: black;
}

body {
	background: transparent;
	color: olive;
}

.spaceDiv {
	height: 50px;
}


#titleDiv {
	background: transparent;
	font-size: 150px;
}

.borderHelp {
	border: 5px dotted aqua;
	margin: 0 auto;
}

.parentBorderHelp {
	border: 5px solid gray;
	margin: 0 auto;
}

.halfHeight {
	height: 50%;
}

.fullHeight {
	height: 100%;
}

.wLRecordSize{
	font-size: 125px;
}

.largerLetters {
	font-size: 35px;
}

.bigLetters {
	font-size: 50px;
}

.largeSpecHeight {
	height: 400px;
}

.darkerBG{
	background: rgba(0 , 0 , 0 , 0.9);
}

.phraseCenter {
	margin: 170px auto;
}

.hangmanPix {
	height: 100%;
	width: 100%;
}


.helpImage {
	height: 100%;
	width: 100%;	
}
.flash {
   	animation-name: flashing;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
}

@keyframes flashing {
    from {color: red;}
    to {color: black;}
}